*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFF2D7;
}
.container{
    border: 2px solid red;
    height: 100vh;
    position: relative;
}
.container h1{
    text-align: center;
}
#newGame{
    position: absolute;
    left: 42%;
    top: 50px;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px;
    background-color:aqua;
    color: tomato;
}
#newGame:hover{
    background-color: violet;
    color: brown;
    cursor: pointer;
}
#restart:hover{
    background-color: violet;
    color: brown;
    cursor: pointer;
}
#restart{
    position: absolute;
    left: 51%;
    top: 50px;
    border-radius: 5px;
    font-size: 23px;
    padding: 4px;
    background-color: aqua;
    color: tomato;
   
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 70vh;
    flex-wrap: wrap;
    gap: 12px;
    position: absolute;
    left: 42%;
    top: 90px;
}
.btn{
    border: 2px solid red;
    border-radius: 12px;
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    background-color: pink;
    color: black;
    font-size: 35px;
}
